body{
    background:#550449;
}

.admin-wrapper{
    display:flex;
    background: #13161E;
    align-items: stretch;
    
}

/* Sidebar */

.sidebar{
    width:240px;
    background:#191D28;
    border-right:1px solid #13161E;
    padding:20px;
    
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.menu{
    list-style:none;
    padding:0;
}

.menu li{
    margin-bottom:5px;
}

.menu a{
    text-decoration:none;
    color:#f1f3f7;
    padding:10px;
    display:block;
    border-radius:8px;
}

.menu a:hover{
    background:#4485c6;
}

/* Main */

.main-content {
    flex: 1;
    background: #191D28; /* màu bạn muốn */
    min-height: 100vh;
}

/* Table */
.table > :not(caption) > * > * {
    background-color: #191D28 !important;
    color: #e2e8f0 !important;
    border-bottom: 1px solid #1e293b;
}

.table thead {
    background: #0f172a;
    color: #94a3b8;
}

.table tbody tr {
    background: #191D28;
    color: white;
    border-bottom: 1px solid #1e293b;
}

.table tbody tr td {
    /* background: #1e293b; */
    background: #191D28;
    color: white;
}
.table img{
    border-radius:6px;
}
/* Input select */
/* ===== INPUT + SELECT ===== */
/* ===== FIX INPUT + SELECT ===== */
.form-control,
.form-select {
    background-color: #020617 !important;
    color: #e2e8f0 !important;
    border: 1px solid #1e293b !important;
}

/* focus */
.form-control:focus,
.form-select:focus {
    background-color: #020617 !important;
    color: #ffffff !important;
    border-color: #6366f1 !important;
    box-shadow: none !important;
}
/* lable */
.form-label {
    color: #e2e8f0 !important;
}
/* placeholder */
.form-control::placeholder {
    color: #64748b !important;
}
/* TinyMCE */
/* khung editor */
.tox-tinymce {
    background: #020617 !important;
    border: 1px solid #1e293b !important;
    border-radius: 10px;
}

/* toolbar */
.tox .tox-toolbar,
.tox .tox-toolbar__primary {
    background: #0f172a !important;
    border-bottom: 1px solid #1e293b !important;
}

/* nút */
.tox .tox-tbtn {
    color: #e2e8f0 !important;
}

.tox .tox-tbtn:hover {
    background: #1e293b !important;
}
/* End TinyMCE */
.card {
    background: linear-gradient(145deg, #020617, #0f172a);
    border: 1px solid #1e293b;
    border-radius: 12px;
}
.btn-success {
    background: #10b981;
    border: none;
}

.btn-secondary {
    background: #334155;
    border: none;
}
/* Click vào mục trên sidebar */
.menu a{
    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
    padding:12px 14px;
    border-radius:10px;
    color:#dfe1e4;
    transition:0.2s;
}

/* hover */
.menu a:hover{
    background:#1E2B47;
}

/* active giống ảnh */
.menu a.active{
    background:#1E2B47;
    color:#4A82EC;
    border-left:4px solid #4A82EC;
    font-weight:500;
}

/* icon khi active */
.menu a.active i{
    color:#4A82EC;
}

/* Phân vùng menu */
.menu-title{
    display:flex;
    align-items:center;
    gap:8px;
    margin-top:18px;
    margin-bottom:6px;
    font-size:12px;
    font-weight:600;
    color:#9ca3af;
    text-transform:uppercase;
}

.menu-title i{
    font-size:14px;
}

.card-body h5{
    font-weight:600;
    background: #13161E;
}

.btn{
    border-radius:6px;
}

.card.shadow-sm{
    margin-bottom:20px;
    background: #13161E;
}
/* Alert */
.hidden{
    display:none;
}
[show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

/* Sort */
.sort-box select,
.sort-box button {
    height: 38px; /* cùng chiều cao */
}

/* Account */
.card{
  border:none;
}

img#previewAvatar{
  border:1px solid #eee;
  padding:5px;
  background:#fff;
}

/* Header */
.admin-header{
  background:#13161E;
  border-bottom:1px solid #13161E;
  height:60px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* title */
.header-title{
  font-weight:600;
  color:white;
}

/* user */
.user-box{
  display:flex;
  align-items:center;
  gap:8px;
  margin-right:10px;
  color: white !important;
}

/* avatar */
.avatar{
  width:32px;
  height:32px;
  border-radius:50%;
  object-fit:cover;
  border:1px solid #e2e8f0;
}

/* name */
.user-name{
  font-size:14px;
  color:#475569;
}

/* button soft */
.btn-soft{
  background:#e2f0eb;
  border:none;
  color:#334155;
  border-radius:8px;
  font-size:13px;
  padding:5px 10px;
}

.btn-soft:hover{
  background:#cbd5f5;
}

/* logout */
.btn-soft-danger {
  color: #dc3545;
  background-color: rgba(220, 53, 69, 0.1);
  border: 1px solid rgba(220, 53, 69, 0.2);
}

.btn-soft-danger:hover {
  color: #fff;
  background-color: #dc3545;
}
/* table thu nhỏ kích thước */
.table td, .table th {
    padding: 4px 6px;
}

.btn-sm {
    padding: 2px 5px;
    font-size: 11px;
}

.badge {
    font-size: 11px;
}
/* tilte index */
h5, span, strong, h4, h6, p, h3 {
    color: white !important;
}

/* CSS Đơn hàng */
