// Footer
footer.footer.py-5
    .container
        .row
            .col-md-4
                h3.fw-bold #{setting.title}
                p.mt-3.text-muted #{setting.copyright}
            .col-md-4
                h5 Liên hệ
                p(class="text-muted text-light") #{setting.address}
            .col-md-4.text-end
                .d-flex.gap-4.justify-content-end
                    i.fab.fa-instagram.fa-2x
                    i.fab.fa-tiktok.fa-2x
                    i.fab.fa-youtube.fa-2x