extends ../../layout/error.pug

block main
    .nf404-section
        .nf404-container
            h1.nf404-code 404
            h2.nf404-title Trang không tồn tại

            p.nf404-desc
                | Có vẻ bạn đã đi nhầm đường 😅
                br
                | Trang này không tồn tại hoặc đã bị xóa.

            a.nf404-btn(href="/") Quay về trang chủ